<div class="tab-of-product">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngClass]="{'h2': active===1, 'h1':!(active===1)}" [ngbNavItem]="1">
        <a ngbNavLink>All</a>
        <ng-template ngbNavContent>
          <div class="img-supermarket">
            <div class="card" *ngFor="let product of allProducts$; index as i; trackBy:trackerImg">
              <img [defaultImage]="'assets/images/blurred.jpg'" [lazyLoad]="convert2Base64(product)" [alt]="product.description" class="img-sup">
              <h2 class="name-img">{{product.productName}}</h2>
              <div class="hide-price-hover">
                ${{product.price}}
              </div>
              <div class="icon-container-1">
                  <button (click)="productView(product.id)" mat-mini-fab class="iconic-btn2">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <button (click)="addCart(product, 1,userId )" mat-mini-fab class="iconic-btn">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button mat-mini-fab class="iconic-btn2">
                    <i class="fa fa-heart"></i>
                  </button>
                </div>
            </div>
          </div>
          <div class="img-supermarket" *ngIf="!(allProducts$?.length > 0) && !isTimeOut">
            <div class="card" *ngFor="let item of [1,2,3,4] || allProducts$">
              <ngx-skeleton-loader  count="1" animation="pulse" [theme]="{
                'height': '20rem',
                'background-color': bgLoading,
                'margin-bottom': '-6px'
              }"></ngx-skeleton-loader>
            </div>
          </div>
          <div class="no-content-found" *ngIf="isTimeOut && (allProducts$?.length === 0)">
            <strong class="h5 text-light">No product found here! Contact site owner and try again.</strong>
          </div>
        </ng-template>
      </li>

      <li [ngClass]="{'h2': active===2, 'h1':!(active===2)}" [ngbNavItem]="2">
        <a ngbNavLink>Foods</a>
        <ng-template ngbNavContent>
          <div class="img-supermarket">
            <div class="card" *ngFor="let product of foodProducts$; index as i ; trackBy:trackerImg">
              <img [defaultImage]="'assets/images/blurred.jpg'" [lazyLoad]="convert2Base64(product)" [alt]="product.description" class="img-sup">
              <h2 class="name-img">{{product.productName}}</h2>
              <div class="hide-price-hover">
                ${{product.price}}
              </div>
              <div class="icon-container-1">
                  <button (click)="productView(product.id)" mat-mini-fab class="iconic-btn2">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <button (click)="addCart(product, 1,userId )" mat-mini-fab class="iconic-btn">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button mat-mini-fab class="iconic-btn2">
                    <i class="fa fa-heart"></i>
                  </button>
                </div>
            </div>
          </div>
          <div class="img-supermarket" *ngIf="!isTimeOut && !(foodProducts$?.length > 0)">
            <div class="card" *ngFor="let item of [1,2,3,4] || foodProducts$">
              <ngx-skeleton-loader  count="1" animation="pulse" [theme]="{
                'height': '20rem',
                'background-color': bgLoading,
                'margin-bottom': '-6px'
              }"></ngx-skeleton-loader>
            </div>
          </div>
          <div class="no-content-found" *ngIf="isTimeOut && (foodProducts$?.length === 0)">
            <strong class="h5 text-light">No product found here! Contact site owner and try again.</strong>
          </div>
        </ng-template>
      </li>


      <li [ngClass]="{'h2': active===3, 'h1':!(active===3)}" [ngbNavItem]="3">
        <a ngbNavLink>Drinks</a>
        <ng-template ngbNavContent>
          <div class="img-supermarket">
            <div class="card" *ngFor="let product of drinkProducts$; index as i; trackBy:trackerImg">
              <img [defaultImage]="'assets/images/blurred.jpg'" [lazyLoad]="convert2Base64(product)" [alt]="product.description" class="img-sup">
              <h2 class="name-img">{{product.productName}}</h2>
              <div class="hide-price-hover">
                ${{product.price}}
              </div>
              <div class="icon-container-1">
                  <button (click)="productView(product.id)" mat-mini-fab class="iconic-btn2">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <button (click)="addCart(product, 1,userId )" mat-mini-fab class="iconic-btn">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button mat-mini-fab class="iconic-btn2">
                    <i class="fa fa-heart"></i>
                  </button>
                </div>
            </div>
          </div>
          <div class="img-supermarket" *ngIf="!(drinkProducts$?.length > 0) && !isTimeOut ">
            <div class="card" *ngFor="let item of [1,2,3,4] || drinkProducts$">
              <ngx-skeleton-loader  count="1" animation="pulse" [theme]="{
                'height': '20rem',
                'background-color': bgLoading,
                'margin-bottom': '-6px'
              }"></ngx-skeleton-loader>
            </div>
          </div>
          <div class="no-content-found" *ngIf="isTimeOut && (drinkProducts$?.length === 0)">
            <strong class="h5 text-light">No product found here! Contact site owner and try again.</strong>
          </div>
        </ng-template>
      </li>


      <li [ngClass]="{'h2': active===4, 'h1':!(active===4)}" [ngbNavItem]="4">
        <a ngbNavLink>Desserts</a>
        <ng-template ngbNavContent>
          <div class="img-supermarket">
            <div class="card" *ngFor="let product of dessertProducts$; index as i">
              <img [src]="convert2Base64(product)" [alt]="product.description" class="img-sup">
              <h2 class="name-img">{{product.productName}}</h2>
              <div class="hide-price-hover">
                ${{product.price}}
              </div>
              <div class="icon-container-1">
                  <button (click)="productView(product.id)" mat-mini-fab class="iconic-btn2">
                    <mat-icon>menu</mat-icon>
                  </button>
                  <button (click)="addCart(product, 1,userId )" mat-mini-fab class="iconic-btn">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button mat-mini-fab class="iconic-btn2">
                    <i class="fa fa-heart"></i>
                  </button>
                </div>
            </div>
          </div>
          <div class="img-supermarket" *ngIf="!isTimeOut && !(dessertProducts$?.length > 0)">
            <div class="card" *ngFor="let item of [1,2,3,4] || dessertProducts$">
              <ngx-skeleton-loader  count="1" animation="pulse" [theme]="{
                'height': '20rem',
                'background-color': bgLoading,
                'margin-bottom': '-6px'
              }"></ngx-skeleton-loader>
            </div>
          </div>
          <div class="no-content-found" *ngIf="isTimeOut && (dessertProducts$?.length === 0)">
            <strong class="h5 text-light">No product found here! Contact site owner and try again.</strong>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>


  <div class="products-of-market">
   <!--Products here-->
   <div [ngbNavOutlet]="nav" class="mt-1"></div>
   <!--Products here-->
  </div>


  <div class="pagination-a-market">
    <ngb-pagination [collectionSize]="10" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>
  </div>